
.reveal section iframe {
	max-width:110%;
	max-height:110%;
}

.reveal div.file-system-container {
	box-shadow:none;
	display:inline-block;
	margin:0;
	width:50%;
}

.reveal pre.file-system {
	box-shadow:none;
	margin:0;
	width:100%;
}

.reveal pre.file-system.fade-in,
.reveal pre.file-system.fade-out.visible {
	height:0;
	overflow:hidden;
}
.reveal pre.file-system.fade-in.visible,
.reveal pre.file-system.fade-out {
	height:auto;
}

.reveal pre.file-system.fade-out.highlight-red {
	color: #ff2c2d;
}


.reveal .structure-block {
	display:inline-block;
	text-align:left;
	padding:2%;
	background: rgba(255,255,255,.05);
	margin:4%;
	min-width:30%;

}